body {
  font-size: 16px;
  font-family: 'Lucida Sans', Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.listItem {
  font-size: 16px;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}