body {
  font-size: 16px;
  font-family: 'Lucida Sans', Geneva, Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  color: navy;
  text-decoration: underline;
  text-align: center;
}

.li-styling {
  margin: 10px;
}